<header-mobile class="custom-mobile-setting mobile-header">
    <nav class="menu-mobile header-swipelect swipelect--per-view-4 ">
        <ul role="list" class="swipelect__container swiper-header-container ">
            <div class="swiper-wrapper">
                {%- for link in section.settings.menu.links -%}
                <li class="swipelect__slide swiper-slide btn-9 {{ forloop.index }}">
                    {%- if link.links != blank -%}
                    <details >
                        <summary                        
                            class="mobile-link-title"
                        >
                            <a class="mobile-title-link" href="{{  link.url}}">
                            {{ link.title | escape }}                    
                            </a>
                        </summary>                    
                    </details>
                    
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </div>
        </ul>
    </nav>
</header-mobile>