.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card.card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.card--horizontal.ratio:before {
  padding-bottom: 0;
}

.card--card.card--horizontal {
  padding: 1.2rem;
}

.card--card.card--horizontal.card--text {
  column-gap: 0;
}

.card--card {
  height: 100%;
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
}

.card--card:after,
.card--standard .card__inner:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.card--card.gradient,
.card__inner.gradient {
  transform: perspective(0);
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.card__inner.color-background-1 {
  background: transparent;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.card--card.gradient,
.card__inner.gradient {
  transform: perspective(0);
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.card__inner.color-background-1 {
  background: transparent;
}

.card .card__inner .card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  background-color: unset;
}

.card--card .card__inner .card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--text-alignment);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.card .media {
  width: 100%;
}

.card__media {
  margin: var(--image-padding);
  width: calc(100% - 2 * var(--image-padding));
}

.card--standard .card__media {
  margin: var(--image-padding);
}

.card__inner {
  width: 100%;
}

.card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
}

.card__content {
  display: grid;
  grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}

.card__content--auto-margins {
  grid-template-rows: minmax(0, auto) max-content minmax(0, auto);
}

.card__information {
  grid-row-start: 2;
  padding: 1.3rem 1rem;
}

.card:not(.ratio)>.card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}

.card-information .card__information-volume-pricing-note {
  margin-top: 0.6rem;
  line-height: calc(0.5 + 0.4 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
}

.card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}

.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__badge.right {
  justify-self: flex-end;
}

.card:not(.card--horizontal)>.card__content>.card__badge {
  margin: 1.3rem;
}

.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__inner:not(.ratio)>.card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.card__heading:last-child {
  margin-bottom: 0;
}

.card--horizontal .card__heading,
.card--horizontal .price__container .price-item,
.card--horizontal__quick-add {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

.card--horizontal .card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0;
}

.card--horizontal__quick-add:before {
  box-shadow: none;
}

@media only screen and (min-width: 750px) {

  .card--horizontal .card__heading,
  .card--horizontal .price__container .price-item,
  .card--horizontal__quick-add {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

.card--card.card--media>.card__content {
  margin-top: calc(0rem - var(--image-padding));
}

.card--standard.card--text a::after,
.card--card .card__heading a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.card__heading a::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}

@media screen and (min-width: 990px) {

  .card .media.media--hover-effect>img:only-child,
  .card-wrapper .media.media--hover-effect>img:only-child {
    transition: transform var(--duration-long) ease;
    object-fit: cover;
    border-radius: 35px;
  }

  .card:hover .media.media--hover-effect>img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect>img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover .media.media--hover-effect>img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect>img+img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text:not(.card--horizontal)>.card__content .card__heading:not(.card__heading--placeholder),
.card--standard:not(.card--horizontal)>.card__content .card__badge,
.card--standard.card--text.article-card>.card__content .card__information,
.card--standard>.card__content .card__caption {
  display: none;
}

.card--standard:not(.card--horizontal) .placeholder-svg {
  height: auto;
  width: 100%;
}

.card--standard>.card__content {
  padding: 0;
}

.card--standard>.card__content .card__information {
  padding-left: 0;
  padding-right: 0;
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media>.card__content .card__badge {
  display: none;
}

.card--horizontal .card__badge,
.card--horizontal.card--text .card__inner {
  display: none;
}

.card--extend-height {
  height: 100%;
}

.card--extend-height.card--standard.card--text,
.card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}

.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner {
  flex-grow: 1;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card-information>*+* {
  margin-top: 0.5rem;
}

.card-information {
  width: 100%;
}

.card-information>* {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.card-information>.price {
  color: rgb(var(--color-foreground));
}

.card--horizontal .card-information>.price {
  color: rgba(var(--color-foreground), 0.75);
}

.card-information>.rating {
  margin-top: 0.4rem;
}

.card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0.7rem;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-article-info {
  margin-top: 1rem;
}

/* Card Shapes */

.card--shape .card__content {
  padding-top: 0;
}

.card--shape.card--standard:not(.card--text) .card__inner {
  border: 0;
  /* Border is not currently compatible with image shapes for standard cards. */
  background-color: transparent;
  filter: drop-shadow(var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity)));
}

.card--shape.card--standard:not(.card--text) .card__inner:after {
  display: none;
}

.grid__item:nth-child(2n) .shape--blob {
  clip-path: polygon(var(--shape--blob-2));
}

.grid__item:nth-child(3n) .shape--blob {
  clip-path: polygon(var(--shape--blob-3));
}

.grid__item:nth-child(4n) .shape--blob {
  clip-path: polygon(var(--shape--blob-4));
}

.grid__item:nth-child(5n) .shape--blob {
  clip-path: polygon(var(--shape--blob-5));
}

.grid__item:nth-child(7n) .shape--blob {
  clip-path: polygon(var(--shape--blob-6));
}

.grid__item:nth-child(8n) .shape--blob {
  clip-path: polygon(var(--shape--blob-1));
}

/* Card Shape Hover Rules */

@media (prefers-reduced-motion: no-preference) {
  .product-card-wrapper .shape--round {
    transition: clip-path var(--duration-long) ease;
  }

  .product-card-wrapper:hover .shape--round {
    clip-path: ellipse(47% 47% at 50% 50%);
  }

  .product-card-wrapper .shape--blob {
    transition: clip-path var(--duration-long) ease-in-out;
  }

  .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }

  .grid__item:nth-child(2n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-6));
  }

  .grid__item:nth-child(3n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-1));
  }

  .grid__item:nth-child(4n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-2));
  }

  .grid__item:nth-child(5n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-3));
  }

  .grid__item:nth-child(7n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-4));
  }

  .grid__item:nth-child(8n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }
}


/* card css */
.card-wrapper .wk-icon {
  background: #f5f5f5;
  padding: 11px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.card__information a.show-review {
  min-height: unset !important;
  max-height: 60px !important;
}
.product-list .card__information a.show-review {
  max-height: 60px !important;
}
.card_text.card__content .card__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*cart product image */

.card-wrapper li {
  margin-bottom: 10px;
}

.card-wrapper .card__inner {
  height: 250px;
}

.card-wrapper .card__media .media img {
  object-fit: scale-down;
  padding: 0 !important;
}

.card-wrapper .card__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 
.card-wrapper .media--transparent {
  background-color: #fff;
} */

.card-wrapper .card_text.card__content {
  height: 170px;
  background-color: #f5f5f5;
  position: relative;
  border-top: 1px solid #ddd;
}
.product-list .card-wrapper .card_text.card__content {
  background-color: #fff;
  border-top: unset;
  padding: 0;
}

.card-wrapper .card_text.card__content .card__information {
  padding: 0px;
  box-sizing: border-box;
}

.card-wrapper .card_text.card__content a {
  overflow: hidden;
  font-size: 22px;
  max-height: 60px;
  font-weight: 500;
  text-align: left;
}

.card-wrapper .card_text.card__content a.no-review {
  max-height: 125px;
}

.card-wrapper .card_text.card__content .card-information {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}


.card-wrapper .card_text.card__content .card-information .price__sale {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  gap: 10px;
  justify-content: start;
  flex-wrap: unset;
  margin-top: 5px;
}

.card-wrapper .card_text.card__content .card-information .price-off {
  color: #4ECD4B;
  font-size: 18px;
  letter-spacing: 0;
}

.card-wrapper .card-information .price__container .price__sale .price-item--last {
  font-size: 24px;
}

.card-information .custom-rating {
  margin-top: 0 !important;
  width: 100%;
  justify-content: start;
  position: absolute;
  top: -15%;
  left: 2%;
}

.card-information .rating-text {
  margin-top: 0 !important;
}

.card-information .price {
  margin-top: 0 !important;
}

.card-information .custom-free-shipping {
  display: block;
}

.card-wrapper .card_text.card__content .express-badge {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}


.card-wrapper .card_text.card__content .express-badge .express {
  position: relative !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  height: max-content;
  background: #7069bc;
  padding: 2px 10px;
  border-radius: 25px;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
}
.card-wrapper .card_text.card__content .express-badge .express::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: express 5s ease-in-out infinite;
}



@-webkit-keyframes express {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}




.card-wrapper .card_text.card__content .express-badge .express-text {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

@media(max-width:768px) {
  .custom-mobile .card__media .media img {
    height: 100%;
  }
  .card-wrapper .card__inner {
    height: 150px;
  }

  .custom-mobile {
    padding: 0px 10px !important;
    /* background-color: #ddd; */
    background-color: white;
  }

  .custom-mobile ul {
    margin-top: 0;
  }

  .custom-mobile .card_text.card__content {
    height: 135px;
    position: relative;
    padding: 10px 0;
  }

  .custom-mobile .card__media {
    margin: auto;
    background-color: #f5f5f5;
    padding: 5px;

  }

  .custom-mobile .media--transparent {
    /* background: #e2c0e6; */
    width: calc(100% - 10px) !important;
    margin: auto;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
  }

  .custom-mobile .image-warpper {
    width: 100% !important;
    background: #fff !important;
    margin: auto !important;
    position: relative !important;
  }

  .custom-mobile .card_text.card__content .card__information {
    padding: 0;
    justify-content: start;
    gap: 0;
  }

  .custom-mobile .card_text.card__content a {
    max-height: 35px;
    font-size: 14px;
  }

  .custom-mobile .card_text.card__content a.no-review {
    max-height: 90px;
  }

  .custom-mobile li {
    margin: 0;
    margin-top: 20px;
    box-shadow: 0 0 8px #d8d8d8;
  }

  .card-wrapper .card_text.card__content {
    height: 90px;
    padding: 5px 4px;
  } 

  .card-wrapper .card_text.card__content a {
    max-height: 40px;
  }

  .card-wrapper .card_text.card__content a.show-review {
    max-height: 40px !important;
  }

  .card-information .custom-rating .rating .rating-value {
    font-size: 14px;
    font-weight: 400;
  }

  .card-information .price {
    width: 100%;
  }

  .card-information .custom-free-shipping {
    margin-top: 2px !important;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1;
    display: block;
    text-align: left;
    display: none;
  }

  .card-wrapper .card-information .price__container .price__sale .price-item--regular {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    letter-spacing: 0;
  }

  .card-wrapper .card-information .price__container .price__sale .price-item--last {
    font-size: 15px;
    letter-spacing: 0;
  }

  .card-wrapper .card-information .price__container {
    width: 100%;
  }

  .card-wrapper .card_text.card__content .card-information .price__sale {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 4px;
    flex-wrap: unset;
    justify-content: start;
    width: 100%;
    margin-top: 0px;
  }

  .card-wrapper .card__content .card__heading a {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
  }

  .card-wrapper .card_text.card__content .card__information {
    padding: 0;
  }

  .card-wrapper .card_text.card__content .card-information .price-off {
    width: max-content;
    font-size: 14px;

  }

  .card-wrapper .card_text.card__content .compare-price {
    width: max-content;
  }

  .card-wrapper .card_text.card__content .price-group {
    width: max-content;
  }

  .card-wrapper .card_text.card__content .express-badge {
    width: 100%;
    margin-top: 3px !important;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: start;
  }

  .card-wrapper .card_text.card__content .express-badge .express {
    position: relative;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    width: max-content;
    height: max-content;
    padding: 2px 3px;
    border-radius: 10px;
    font-style: italic;
    letter-spacing: 0;
  }

  .card-wrapper .card_text.card__content .express-badge .express-text {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.5px;
    display: inline-block;
  }

  .card-information .custom-rating {
    top: -25%;
    left: 5%;
  }
    .card-wrapper .wk-icon {
      padding: 6px;
      border-radius: 5px;
    }
  .card--standard>.card__content .card__information {
    padding: 3px 0;
  }
}