.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.2;
  --font-size: 2.4;
}

.rating-star {
  --color-rating-star: rgb(var(--color-foreground));
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★';
  /* background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  ); */
  background: linear-gradient(90deg, rgb(63, 235, 28) var(--percent), rgba(var(--color-foreground), .15) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}




.card-wrapper .custom-rating {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
} 
.card-wrapper .custom-rating .rating-count.caption {
  font-size: 12px;
  color: #777474;
  margin-top: 0;
  font-weight: 400;
}
.card-wrapper .custom-free-shipping {
  font-size: 16px;
  font-weight: 500;
  color: #4ECD4B;
}
.card-wrapper .custom-sold-out {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 10px;
  justify-content: start;
  width: 100%;
  text-align: left;
}
.card-wrapper .custom-sold-out span{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.card-wrapper .price__container .price-item--sale {
  margin: 0;
}
.card-wrapper .price__container .currency {
  font-weight: 400;
  font-size: 16px;
}
.card-wrapper .card-information .price {
  width: 100%;
  text-align: left;
}
.card-wrapper .card-information .price--on-sale {
  width: 100%;
  text-align: left;
}
@media(max-width:768px) {
  .custom-mobile .custom-rating {
    gap: 5px;
  }
  .custom-mobile .rating-count.caption {
    font-size: 14px;
  }
  .custom-mobile .custom-sold-out {
    gap: 5px;
    justify-content: start;
    align-items: end;
    width: 100%;
    text-align: left;
  }
  .card-wrapper .custom-sold-out {
    justify-content: start;
    gap: 4px;
    width: 100%;
  }
.card-wrapper .custom-sold-out span{
  font-size: 11px;
  width: 100%;
  letter-spacing: 0;
} 
  .custom-mobile .custom-free-shipping span {
    font-size: 15px;
  }
  .custom-mobile .price__sale .price-item--regular {
    display: block;
  }
  
  .card-wrapper .custom-free-shipping {
    font-size: 12px;
    width: 100%;
    text-align: left;
    margin-top: 0 !important;
  }
  .card-wrapper .rating-star {
    --font-size: 2.0;
  }
  .card-wrapper .custom-rating .rating-count.caption {
    font-size: 11px;
  }
  .card-wrapper .custom-rating {
    justify-content: start;
  }
    .card-wrapper .price__container .currency {
      font-size: 12px;
      letter-spacing: 0;
    }
}